body {
    background-color: #7183ff;
    background-image: url('../img/butterfly.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}
h1 {
    color: #000000;
    font-family: arial, verdana, sans-serif;
}